.circle {
  width: 40vh;
  height: 40vh;
  background-color: white;
  border-radius: 50%;
  border-bottom: 120px solid red;
  border-left: 120px solid orange;
  border-right: 120px solid blue;
  border-top: 120px solid green;
  margin: 0 auto;
  transition: transform 10s ease, border 3s ease-in-out, background-color 10s ease;
  /*transition: all 5s ease*/

}
.active{
  transform: rotate(13690deg);
  border-bottom-color: yellow;
  border-left-color: darkgreen;
  border-right-color: cadetblue;
  border-top-color: crimson;
  background-color: black;

/*  lub - przez najechanie myszka:
.circle:hover{
  transform: rotate(3600deg) scale(0)
*/;

}
 button {
   background-color: white;
   color: black;
   display: block;
   width: 200px;
   height: 30px;
   margin: 30px auto;
   border: black solid 2px;
 }
